page-lock-screen {
  .login-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2848ee+0,8329e7+100 */
    background: #ff9b6a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff9b6a 41%, #f95197 69%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff9b6a 41%,#f95197 69%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff9b6a 41%,#f95197 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b6a', endColorstr='#f95197',GradientType=1 );
  }
}
