page-project-search {
  .cusToggle{
    width: 82px;
    background-color: #8080802e;
    border-radius: 50px;
  }
  .pt-8px{
    padding-top: 8px;
  }
 .pr-6px{
   padding-right: 6px;
 }
  .margin-0px{
    margin: 0px !important;
  }

.float-left{
    float: left;
  }
  .card-title-text {
    font-size: 15px;
    font-weight: bold;
    color: #5c5b5b;
}
.card-description-text {
    font-size: 14px;
    font-weight: 500;
    color: #a1a1a1;
}
.font-1point5rem{
  font-size: 1.5rem !important;
}
.txt-transform-none{
  text-transform: none;
  }
}
