page-help {

  button.help-custom-button {
    &.activated {
      background: none;
      box-shadow: none;
    }

    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;

    .button-inner {
      display: block;

      ion-note {
        display: block;
        margin-top: 10px;
        color: #7c7c7c;
        font-weight: bold;
        font-size: 13px;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        position: relative;
        left: 11px;
        width: 50px;
        height: 50px;
        display: table-cell;
        font-size: 24px;
        border-radius: 50%;
        vertical-align: middle;
        background: map-get($colors, secondary) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3851f0', endColorstr='#693de7', GradientType=1);
      }
    }

  }

  .icon-right-arrow:before {
    opacity: 0.4;
  }

  ion-item.customIonItem {
    border: 1px solid #e6e8f3;
    border-radius: 5px;
    margin-bottom: 10px;

    .item-inner {
      border-bottom: none !important;
    }

    ion-label {
      white-space: normal;

      p {
        color: map-get($colors, dark);
        font-weight: bold;
      }
    }
  }

  .heading-help {
    font-size: 2.2rem;
  }
}
